<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Zaznacz co chcesz oddać:</h1>-->
<!--<div>-->
<!--    <form action="/form/category" method="post">-->
<!--        <label for="categoryId">Kategoria</label>-->
<!--        <input id="categoryId" name="categoryId">-->
<!--        <button type="submit">Dalej...</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>

<body>
<h1>Choose a category</h1>
<div>

</div>
<form method="POST" th:action="@{/form/category}" th:object="${categoryfind}">
    <h4>Choose a category</h4>

    <a>Kategorie:</a>
    <div th:each="listcategory : ${categoryfind}">
        <span th:text="${listcategory.name}"></span>
        <input type="checkbox"  th:value="${listcategory.id}" >
    </div>

    <button type="submit">Wyslij</button>

</form>
</body>
</html>

