<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Podaj adres i date odbioru :</h1>
<div>
    <form action="/form/donationdetails" method="post">
        <label for="street">Street</label>
        <input id="street" name="street">
        <label for="city">City</label>
        <input id="city" name="city">
        <label for="zipCode">ZIP CODE</label>
        <input id="zipCode" name="zipCode">
        <label for="pckUpDate">Pick Up Date</label>
        <input type="date" id="pckUpDate" name="pickUpDateId">
        <label for="pickUpTime">Pick Up Time</label>
        <input type="time" id="pickUpTime" name="pickUpTimeId">
        <label for="pickUpComment">Pick Up Comment</label>
        <input id="pickUpComment" name="pickUpComment">
        <button type="submit">Dalej...</button>
    </form>
</div>
</body>
</html>
