<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Donation list</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <a class="navbar-brand" href="/"><img src="https://i.pinimg.com/736x/d5/24/22/d5242243faec7ed279175bdb596779c1.jpg" width="50" height="50"
                                              class="d-inline-block mr-1 alling-bottom" alt=""> Charity.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/" >Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form/category" >New Donation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutionview" >Institution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/countquantity" >All Donations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus" >About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" >Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list" >Login Admin</a>
                </li>



            </ul>

        </div>

    </nav>

</header>

<div class="container m2">
    <h1>Donation list</h1>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <table border="1" class="table table striped table-responsive-md">
        <thead>
        <tr>
            <th>Donation Zip-Code </th>
            <th>Donation Date</th>
            <th>Donation quantity</th>
            <th>Details</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="donations : ${allDonationView}">
            <td th:text="${donations.zipCode}"></td>
            <td th:text="${donations.pckUpDate}"></td>
            <td th:text="${donations.quantity}"></td>
            <td> <a th:href="@{/onedonation/{id}(id=${donations.id})}" } class="btn  btn-primary">Details<a/>

        </tbody>

    </table>
</div>
</body>
</html>