<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <a class="navbar-brand" href="/"><img src="https://i.pinimg.com/736x/d5/24/22/d5242243faec7ed279175bdb596779c1.jpg" width="50" height="50"
                                              class="d-inline-block mr-1 alling-bottom" alt=""> Charity.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/" >Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form/category" >New Donation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutionview" >Institution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/countquantity" >All Donations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus" >About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/emailsend" >Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list" >Login Admin</a>
                </li>



            </ul>

        </div>

    </nav>

</header>


<p class="text-center">text text text text</p>
<p class="text-center">text text text text</p>
<p class="text-center">text text text text</p>
<p class="text-center">text text text text</p>
</body>
</html>