
*, *::before, *::after{
    box-sizing: border-box;
    font-family: "Arial Nova", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
body{
    padding: 0;
    margin: 0;
    background: #ebebeb;
}
.menu{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
}